    <header>
        <meta charset="utf-8" />
        <title>{{pageTitle}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>