<!DOCTYPE html>
<html>
        {{> header}}
    <body>
        <h1>{{pageTitle}}</h1>
        <p>You came looking for information about this, but there is none to be had...</p>
    
        {{> footer}}
    
    </body>
</html>